name: Easy Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      
      # 1. Собираем бинарник
      - name: Build with PyInstaller Action
        uses: JackMcKew/pyinstaller-action@main
        with:
          entry_point: 'main.py'
          name: 'graphbuilder'
          spec: 'onefile'
          hidden_imports: 'kivy'
      
      # 2. Создаем .deb пакет (опционально)
      - name: Create DEB package
        uses: julb/fpm-action@v1
        with:
          input_type: dir
          output_type: deb
          package: graphbuilder
          version: 1.0.${{ github.run_number }}
          input_path: dist/graphbuilder
          prefix: /usr/bin
      
      # 3. Загружаем артефакты
      - name: Upload everything
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: |
            dist/
            *.deb