name: Create DEB Package

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Build executable
        run: |
          pip install pyinstaller
          pyinstaller --onefile main.py
      
      - name: Create DEB with fpm-action
        uses: julb/fpm-action@v1
        with:
          input_type: dir
          output_type: deb
          package: graphbuilder
          version: 1.0.${{ github.run_number }}
          architecture: amd64
          prefix: /usr/bin
          input_path: dist/graphbuilder
          output_path: .
          maintainer: ${{ github.actor }}
          description: 'Graph Builder Application'
      
      - name: Upload DEB
        uses: actions/upload-artifact@v4
        with:
          name: deb-package
          path: '*.deb'