name: Build with Nuitka

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Build with Nuitka
        uses: Nuitka/Nuitka-Action@main
        with:
          nuitka-version: main
          script-name: main.py
          onefile: true
          enable-plugin: tk-inter
          output-filename: graphbuilder
      
      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: nuitka-build
          path: graphbuilder*