name: Build Executable

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Build executable
        uses: nschloe/executable-build@v2
        with:
          python-version: '3.11'
          requirements: 'requirements.txt'
          script: 'main.py'
          name: 'graphbuilder'
          onefile: true
      
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: executable
          path: dist/